<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color:plum">
    <a class="navbar-brand" href="/urls" style="font-family: cursive, serif;"><b>TinyApp</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls" style="color:rebeccapurple">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new" style="color:rebeccapurple">Create New TinyApp URL</a>
      </div>
    </div>
    <% if (user) { %>
    <form method="POST" action="/logout">
      <label style="color:rebeccapurple">Logged in as: <%= user.email %></label>
      <button type="submit" class="btn btn-light" style="color:rebeccapurple">Logout</button>
    </form>
    <% } else { %>
      <a class="nav-item nav-link" href="/register" style="color:rebeccapurple">Register</a>
      <a class="nav-item nav-link" href="/login" style="color:rebeccapurple">Login</a>
    <% } %>
  </nav>
</header>